server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/collab_tool
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.springframework.security: INFO
